<Configuration status="WARN">
<Properties>
<Property name="Basepath">./logs</Property>

</Properties>

<Appenders>
	<Console name="Console" target="SYSTEM_OUT">
	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</Console>

<RollingFile name="File" fileName="${Basepath}/automation.log" filePattern="${Basepath}/automation-%d{MM-dd-yyyy}-%i.log.gz">
	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	<SizeBasedTriggeringPolicy size="5000"/>
</RollingFile>

</Appenders>

<Loggers>
	
<Root level="Info">
<!-- <AppenderRef ref="Console"/> -->
<AppenderRef ref="File"/>
</Root>
</Loggers>
</Configuration>